.warpper {
  height: 10vh;
}

.notification {
  position: fixed;
  bottom: 4vh;
  right: 4vh;
  padding: 2vh;
  background-color: #f8d7da;
  color: #721c24;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 1s ease-out;
}

.show {
  opacity: 1;
}

i {
  font-size: 30px;
}

.required {
  color: red;
  font-size: 20px;
}
