<div class="wrapper mt-2">
    <div class="row main-info m-0 p-0" style="height: 90vh;">
        <div class="col-8 images">
            <div class="top-image">
                <img [src]="selectedImg" alt="" class="img-fluid" style="object-fit: cover; height: 75vh; width: 100%;">
            </div>
            <div class="bottom-images d-flex mt-2" style="overflow-x: hidden;" appDivDragger>
                <div class="bottom-image col-3"
                    [ngStyle]="{'border': selectedImg === image.url ? '3px solid blue' : ''}"
                    *ngFor="let image of filteredImages">
                    <img [src]="image.url" class="img-fluid" (click)="selectImg(image.url)"
                        style="object-fit: cover; height: 14vh; width: 100%; cursor: pointer;">
                </div>
            </div>
        </div>
        <div class="col-4 product">
            <div class="sub-category border-bottom d-flex justify-content-center align-items-center"
                style="height: 6vh;">
                <h2>{{product?.productSubCategoryDto?.name}}</h2>
            </div>
            <div class="product-name border-bottom d-flex justify-content-center align-items-center"
                style="height: 8vh;">
                <h4>{{product?.name}}</h4>
            </div>
            <div class="colors d-flex justify-content-center align-items-center border-bottom" style="height: 10vh;">
                <div class="btn-group" *ngFor="let color of productColors">
                    <button class="btn" (click)="selectColor(color.color)" [ngStyle]="{'background-color': color.color}"
                        style="font-weight: 20px; width: 5vh; height: 5vh; border: 3px solid rgb(60, 60, 60) ;"
                        [class.inactive]="selectedColor != color.color">
                    </button>
                </div>
            </div>
            <div>
                <div class="material d-flex justify-content-center align-items-center border-bottom"
                    style="height: 7vh;" *ngIf="selectedMaterial">
                    <div class="btn-group" *ngFor="let material of productMaterials">
                        <button class="btn" [class.inactive]="selectedMaterial != material.material"
                            (click)="selectMaterial(material.material)"
                            style="background-color: rgb(214, 214, 214); border:1px solid rgb(60, 60, 60)">
                            {{material.material}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="price border-bottom d-flex flex-column justify-content-center" style="height: 18vh;">
                <div class="price-amount">
                    <h3>{{product?.price}}$$</h3>
                </div>
                <div class="price-promo">
                    <h6>✓ Estimated delivery time: 3-6 weeks</h6>
                </div>
            </div>
            <div class="cart d-flex border-bottom align-items-center" style="height: 12vh;">
                <div class="col-6">
                    <div class="counter d-flex align-items-center justify-content-center">
                        <button class="btn btn-primary" (click)=" decrease()" [disabled]="counter ===0">-</button>
                        <input type="number" [value]="counter" readonly class="form-control text-center mx-1"
                            style="width: 70px;">
                        <button class="btn btn-primary" [disabled]="counter === currentProductDetail?.stock"
                            (click)="increase()">+</button>
                    </div>
                </div>
                <button id="add-to-cart" class="add-button btn btn-primary" (click)="addToCart()"
                    [disabled]="counter === 0">Add to cart</button>
            </div>
        </div>
    </div>

    <div class="description p-5">
        <div [innerHTML]="trustedHtml"></div>
    </div>
</div>