a {
  text-decoration: none;
  color: black;
}

.page {
  img {
    object-fit: cover;
    width: auto;
    height: 30vh;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
}

img:hover {
  opacity: 0.6;
  transform: scale(1.02);
}

.title:hover {
  transform: scale(1.5);
}

.product-detail {
  border: 1px solid rgb(216, 216, 216);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  transition: transform 0.3s ease;
}
