.product img {
  width: 100%;                // Chiều rộng 100% của thẻ cha
  max-width: 100%;            // Đảm bảo không vượt quá khung chứa
  height: 12vh;               // Giảm kích thước chiều cao ảnh
  max-height: 12vh;           // Đảm bảo ảnh không bị kéo dài
  object-fit: contain;        // Giữ nguyên tỷ lệ ảnh, không bị méo
  border-radius: 8px;         // Làm tròn góc cho đẹp hơn
}

.cart {
  padding: 3vh;
  background-color: #ffffff;
  transition: right 0.05s ease;
  .row {
    border-bottom: 1px dashed rgb(213, 213, 213);
  }

  .row:first-child {
    border-top: 1px dashed rgb(213, 213, 213);
  }

  .col-8 {
    margin-left: 3vh;
  }
}
