<div class="container mt-3">
  <h2>Update Product </h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <div class="mb-3">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter product name" />
      <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
        <small class="text-danger">Name is required</small>
      </div>
    </div>

    <!-- Price -->
    <div class="mb-3">
      <label for="price">Price</label>
      <input type="text" id="price" class="form-control" formControlName="price" placeholder="Enter product price" />
      <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
        <small class="text-danger">Price is required</small>
      </div>
    </div>

    <!-- Thumbnail Image -->
    <div class="mb-3">
      <label for="thumbnail">Thumbnail Image</label>
      <input type="file" id="thumbnail" class="form-control" (change)="onFileChange($event)" />
      <div *ngIf="productForm.get('thumbnail')?.invalid && productForm.get('thumbnail')?.touched">
        <small class="text-danger">Thumbnail is required</small>
      </div>
    </div>

    <!-- Description with TinyMCE Editor -->
    <div class="mb-3">
      <label for="description">Description</label>
      <editor formControlName="description" apiKey="82zjfv71ttfqp08cvqel6a06gj0ytkmo5k09lkssw79fdrtk" [init]="{
            height: 500,
            plugins: [
              'a11ychecker', 'advlist', 'advcode', 'advtable', 'autolink', 'checklist', 'export',
              'lists', 'link', 'image', 'charmap', 'preview', 'anchor', 'searchreplace', 'visualblocks',
              'powerpaste', 'fullscreen', 'formatpainter', 'insertdatetime', 'media', 'table', 'help', 'wordcount'
            ],
            toolbar: 'undo redo | casechange blocks | bold italic backcolor | \
                      alignleft aligncenter alignright alignjustify | \
                      bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
          }"></editor>
      <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched">
        <small class="text-danger">Description is required</small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Update Product</button>
  </form>
</div>

<div *ngIf="isSubmitting" class="d-flex justify-content-center align-items-center"
  style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background: rgba(0,0,0,0.5); z-index: 1050;">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>